<section class="instructions-section" id="help-section">
    <div class="container">
        <div class="spacer"></div>
        <h2 class="text-center continue-heading mb-4">How to Use This System</h2>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="instruction-card">
                    <h3 class="instruction-title">For Admins</h3>
                    <p>As a manager, you can manage summarize all bills generated during the shift, view bill history with time filter, and interact as service-staff, and kitchen-staff. Click on the admin button above and it will lead you to login page. You have to login to be able to interact as manager. As a manager, you have access to all system features.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="instruction-card">
                    <h3 class="instruction-title">For Kitchen Staff</h3>
                    <p>Kitchen staff can view incoming orders, mark items as prepared ,and change to other status, manage menu items. The order queue displays priorities and preparation times. You can just click on the kitchen-staff button above to interact as kitchen-staff. No user login is required.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="instruction-card">
                    <h3 class="instruction-title">For Service Staff</h3>
                    <p>Service staff can take customer orders, send them to the kitchen, process payments, and manage table assignments. View order status updates from the kitchen and receive notifications when orders are ready to be served. Like kitchen-staff, you can just click on the service-staff button above to interact as service-staff. No user login is required.</p>
                </div>
            </div>
        </div>
    </div>
</section>